body{
    display: flex;
    background-color: #01576f;
   flex-wrap: wrap;
    margin:0;
    padding: 0;
}
.header{
    background-image: url("https://www.axisbank.com/images/default-source/revamp_new/contact-us/contactus.jpg");
    width: 100%;
    height: 340px;
}
form{
    align-items: flex-end;
    margin: 0 auto;
    width: 700px;
    padding: 1em;

}

input, textarea {
    width: 300px;
    height: 70px;
    box-sizing: border-box;
    text-align: left;
    padding-left: 10px;
    border: 1px solid #999;
    margin: 10px;
    font-size: 20px;
    font-family: Serif;
}
textarea {
    padding-top: 10px;
    padding-left: 10px;
    text-align: left;
    vertical-align: top;
    height: 150px;
    font-size: 20px;
    width: 620px;
}


button{
    font-size: 30px;
    font-family: Serif;
    background-color: #0ca8b1;
    align-content: center;
    height: 60px;
    width: 200px;
    color: #ebebeb;
    margin-left: 400px;


}

.name{
    display: flex;
    flex-direction: row;
    align-content: space-between;

}
.form{
    margin:0 auto;
}
a{
    height: 10px;
    width: 20px;
    color: #01576f;
    text-decoration: none;
    font-weight: bold;
    font-size: 100px;
    margin-left: 50px;
    margin-top: 160px;
}
button{

    text-decoration: none;
    border: none;
}
.container{
    align-content: center;
    justify-content: center;
    margin-left: 20px;
}
p{
    font-family: Serif;
    font-size: 20px;
    color: white;

}
h2{

    color: white;
    font-family: Serif;
    font-weight:normal;

}
.mlg{
    margin-top: 70px;
    color: #ebebeb;
    font-size: 16px;
    font-family: Serif;
    margin-left: 10px;
    margin-bottom: 0px;

}
.ml{
    align-content: center;
}