body{
    margin:0;
    padding: 0;
    background-color: #ebebeb;
}

.header{
    background-image: url('https://www.groupe-igs.fr/sites/demo-groupe/files/igs/2019-07/top-10-startup-innovantes-2019.png');
    width: 100%;
    height: 340px;
   
}

.imgHeader{
    border-radius: 100px;
    width: 200px;
    height: 200px;
    margin-left: 77%;

}

.logoEni{
    height: 75%;
    width: 75%;
    border-radius: 100%;
    margin-top: 10%;

}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.article1{
    width: 30%;
    align-content: center;
    margin: 14%;
    text-align: center;
}
aside{
    margin:20px;

}
.imgNiv{
    border-radius: 100%;
    height:100px;
    width: 100px;
}
p{
    font-size: large;
    color: white;
    font-family: monospace;
}

.nivColor{
    margin-top: 5px;
    display: flex;
    background-color: #991f94 ;
    height: 350px;
    align-items: center;
    justify-content: space-between;
}
.separator{
    color: lightslategray;
    margin:4%;
    background-color: #991f94 ;
    height: 2px;
    border: none;
}

.qfc{
    display: flex;
    border: solid;
    border-width: 2px;
    padding: 3%;
    border-color: #f1cf13;
    color: #f1cf13;
    font-size: 25px;
    text-decoration: none;
    padding-left: 70px;
    margin:80px

}

.formationDip{
    font-size: 30px;
    font-family: monospace;
    margin-right: 45px;

}

.caSaoul{
    display: flex;
    flex-direction: column;
    align-content: center;

}
.imgDip{

border-radius: 100%;
    height: 400px ;
    width: 400px;
}

.section2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    background-color: #991f94;

}

.article2{

    align-content: center;
    margin: 10%;
    text-align: center;

}

h2{
    color: #ffed00 ;
    font-family: monospace;

}
h3{
    color: #ffed00 ;
    font-family: monospace;
    align-items: start;

}
.pDip{
    color: white;
}
li{
    display:inline;
    color: white;
}ul{
    display: flex;
    flex-direction: column;
    list-style-image : url("../asset/icons8-case-cochée-20.png");
    text-align:justify;

 }
 
 a :hover
 {
     opacity: 0.20;
 }
 .ro{
     display: flex;
     flex-direction: row;
     align-content: center;
     justify-content: space-around;
     height: 200px;
     margin-bottom: 100px;

 }
.divRo{

    background-color: #0774c7;
    height: 90%;
    width: 50%;
    text-align: center;


}.divRo1{
     background-color:#0ca8b1;
     height: 90%;
     width: 50%;
     text-align: center;
}.divRo2{
      background-color: #99af01;
      height: 90%;
      width: 50%;
      text-align: center;
}.divRo3{
       background-color: #01576f;
       height: 90%;
       width: 50%;
       text-align: center;

}
.pI{
    color: black;
    font-weight: bolder;
    font-size: 20px;
    margin: 30px;
}
.imgRo{
    margin:10px
}

a{
    text-decoration: none;
}