body{
    display: flex;
    background-color: #6f42c1;
    align-content: center;
}
form{
    display: flex;
   align-items: center;
   height: 200px;
    width: 200px;
    border-width: 1px;
    border-color: #0c5460;
    border: solid;
}